---
name: build nodejs with matrix application 
on:
 workflow_dispatch:
 push:
   branches:
     - master 
 pull_request:
   branches:
     - master  
jobs:
  job1:
    continue-on-error: true # continue to run the job even if there is an error#
    strategy:
     matrix: # it is like a loop to repeat the steps on each operating_system value 
      operating_system: [ubuntu-latest,windows-latest]
      #exclude: # don't run on ubutnu-latest, run on others
      # ubuntu-latest
      #include: # add a new value to the list, it will run on ubuntu, windows and mac.
      # mac-latest
    runs-on: ${{ matrix.operating_system }}
    steps: 
    - name: Clone the repo 
      uses: actions/checkout@v6 
    - name: Install nodejs
      uses: actions/setup-node@v6
      with: 
        node-version: 18
        cache: 'npm'
    - name: Install node dependencies
      run: npm ci # to install the package that are there in the repo package.json
    - name: Execute test cases
      run: npm test 
    - name: Build the nodejs code 
      run: npm run build
