---
name: multiple matrix for nodejs
on:
 workflow_dispatch:
 push:
   branches:
     - master 
 pull_request:
   branches:
     - master  
jobs:
  job1:
    continue-on-error: true # continue to run the job even if there is an error
    strategy:
     matrix: # it is like a loop to repeat the steps on each operating_system value 
      operating_system: [ubuntu-latest,windows-latest]
      artifact_name: [artifact-node-ubuntu, artifact-node-windows]
      exclude: # don't execute these combinations
      - operating_system: ubuntu-latest
        artifact_name: artifact-node-windows
      - operating_system: windows-lates
        artifact_name: artifact-node-ubuntu
    runs-on: ${{ matrix.operating_system }}
    steps: 
    - name: Clone the repo 
      uses: actions/checkout@v6 
    - name: Install nodejs
      uses: actions/setup-node@v6
      with: 
        node-version: 18
        cache: 'npm'
    - name: Install node dependencies
      run: npm ci # to install the package that are there in the repo package.json
    - name: Execute test cases
      run: npm test 
    - name: Build the nodejs code 
      run: npm run build
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: $ {{ matrix.artifact_name }}# we need to add a variable which changes as per the OS
        path: dist/
